
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<div class="spec ">
    <h3>Đăng nhập</h3>
    <div class="ser-t">
        <b></b>
        <span><i></i></span>
        <b class="line"></b>
    </div>
</div>
<!--login-->

<div class="login">

    <div class="main-agileits">
        <div class="form-w3agile">
            <b class="line"></b>
            <h3>Login</h3>
            <form action="#" method="post">
                <div class="key">
                    <i class="fa fa-user" aria-hidden="true">Tài khoản</i>
                    <input type="text" value="Tài khoản" name="Taikhoan" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                    <div class="clearfix"></div>
                </div>
                <div class="key">
                    <i class="fa fa-lock" aria-hidden="true">Mật khẩu</i>
                    <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                    <div class="clearfix"></div>
                </div>
                <input type="submit" value="Login">
            </form>
        </div>
        <div class="forg">
            <a href="#" class="forg-left">Forgot Password</a>
            <a href="register.html" class="forg-right">Register</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--footer-->
