
@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}



<!--- terms ---->
<div class="terms">
    <div class="container">

        <div class="spec ">
            <h3>Chính Sách Vận Chuyển</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="ter-wthree">
            <h6><span>1.</span>-  Giao hàng và thu tiền tại địa chỉ nhận hàng (COD): 20.000/đơn</h6>
            <ol start="1">
                <li>Áp dụng riêng cho khu vực sau:  </li>
                <li>- Hà Nội (Cầu Giấy,  Đống Đa, Hoàn Kiếm,  Thanh Xuân,  Ba Đình, Tây Hồ,  Hai Bà Trưng, Hoàng Mai, Hà Đông, Từ Liêm) </li>
                <li> - Hồ Chí Minh (Quận 1, 3, 4, 5, 6, 7, 10, 11, 12 Tân Bình, Tân Phú, Bình Thạnh, Gò Vấp, Phú Nhuận )</li>
                <li> - Giao hàng qua hệ thống Bưu điện Việt Nam và khách hàng thanh toán đơn hàng trước: Áp dụng toàn quốc</li>
            </ol>
        </div>
        <div class="ter-wthree">
            <h6><span>2.</span> * Thời gian vận chuyển:</h6>
            <p>- Khu vực nội thành Hà Nội và thành phố Hồ Chí Minh : Thời gian giao hàng dự kiến là 48 giờ  làm việc tính từ thời điểm đơn hàng được xác nhận (qua SMS)</p>
            <p>- Khu vực nội thành Hà Nội và thành phố Hồ Chí Minh : Thời gian giao hàng dự kiến là 48 giờ  làm việc tính từ thời điểm đơn hàng được xác nhận (qua SMS) </p>
            <p> * Đối với các đơn hàng có địa chỉ nhận hàng nằm ngoài trung tâm, tỉnh, thị xã, thị trấn vui lòng cộng thêm 2-3 ngày so với thời gian quy định tính theo khu vực. </p>
        </div>
        <div class="ter-wthree">
            <h6><span>3.</span>-Đối với những đơn hàng tính phí chuyển nhanh ở các tỉnh thành: </h6>
            <p>Bảng giá cước chuyển phát tính theo cân nặng số sách đặt mua: </p>
            <p>Trọng lượng   Giá cước</p>
            <p>Đến 50g    ----     12,188</p>
            <p>50 - 100g  ----     16,563</p>
            <p>100 - 250g ----   22,813</p>
            <p>250 - 500g ----   30,938</p>
            <p>500g - 1000g ---- 46,563</p>
        </div>
        <div class="ter-wthree">
            <h6> <span>4.</span>Quý khách lưu ý:</h6>
            <p>* Thời gian giao hàng trên không áp dụng với đơn hàng có chứa sách "Đặt trước" - Sách chưa được phát hành, hoặc sách tạm thời hết hàng, không sẵn còn trong kho. Đơn hàng chỉ được xử lý khi có đầy đủ sách trong đơn hàng.</p>
            <p>* Quý khách hàng không phải trả thêm bất kì khoản phí nào khác khi nhận hàng.</p>
            <p>* Đối với sách mới xuất bản lần đầu, Nhã Nam chỉ bắt đầu giao hàng kể từ khi chi nhánh Nhã Nam TP.Hồ Chí Minh có sách (áp dụng từ khu vực Đà Nẵng trở vào miền Nam)</p>
        </div>
       
    </div>
</div>
<!--- /terms ---->
