 <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*Chen Css của template*@
    <link href="~/Content/NguoiDungCssLayout/jstarbox.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/NguoiDungCssLayout/style.css" rel="stylesheet" />
    @*Su dung icon*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @*Chem Css cua nguoi dung*@
    <link href="~/Content/NguoiDungCssLayout/NguoiDungCssLayout.css" rel="stylesheet" />
 
</head>
<body>
 
    @*<a href="offer.html"><img src="~/Content/Image/download.png" class="img-head" alt=""></a>*@
    <div class="header">

        <div class="container">

            <div class="logo">
                <h1><a href="/Home/Index"><b>T<br>H<br>E</b>Book Store<span>Bởi Vì Sách Là Cả Thế Giới</span></a></h1>
            </div>
            <div class="search-form">
                <form action="#" method="post">
                    <input type="text" placeholder="Search..." name="Search...">
                    <input type="submit" value=" ">
                </form>
            </div>
            

            <div class="header-ri">
                <ul class="social-top">
                    <li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
                    <li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
                </ul>
            </div>

            @*Html partial top menu*@
            @Html.Action("TopMenuPartial","Home",new { @MenuId = "Menu00" })
            <div class="nav-top">
                <nav class="navbar navbar-default">

                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav ">
                            <li class="active">
                            <a href="/Home/Index" class="hyper ">
                                <span>Trang Chủ</span>
                                </a>
                            </li>

                            <li class="dropdown ">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown">
                                <span>"Danh Mục Sách"
                                    <b class="caret"></b>
                                    </span>
                                </a>
                                <ul class="dropdown-menu multi">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">

                                                <li><a href="/Home/GroupBook?GroupBookId=GB0001"><i class="fa fa-angle-right" aria-hidden="true"></i>Văn Học Việt Nam</a></li>
                                                <li><a href="/Home/GroupBook?GroupBookId=GB0002"><i class="fa fa-angle-right" aria-hidden="true"></i>Ngôn tình</a></li>

                                            </ul>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">

                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span> ComBo Sách <b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi multi1">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayurvedic </a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Baby Care</a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cosmetics</a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Deo & Purfumes</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-3">

                                            <ul class="multi-column-dropdown">
                                                <li><a href="care.html"> <i class="fa fa-angle-right" aria-hidden="true"></i>Hair Care </a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Oral Care</a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Personal Hygiene</a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Skin care</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-3">

                                            <ul class="multi-column-dropdown">
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Fashion Accessories </a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Grooming Tools</a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Shaving Need</a></li>
                                                <li><a href="care.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Sanitary Needs</a></li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-3 w3l">
                                            <a href="care.html"><img src="~/Content/Image/me1.png" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle hyper" data-toggle="dropdown"><span>Chương Trình Khuyến Mãi<b class="caret"></b></span></a>
                                <ul class="dropdown-menu multi multi2">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <ul class="multi-column-dropdown">
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Cleaning Accessories</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>CookWear</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Detergents</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Gardening Needs</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-3">

                                            <ul class="multi-column-dropdown">
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Kitchen & Dining</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>KitchenWear</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pet Care</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Plastic Wear</a></li>

                                            </ul>

                                        </div>
                                        <div class="col-sm-3">

                                            <ul class="multi-column-dropdown">
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Pooja Needs</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Serveware</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Safety Accessories</a></li>
                                                <li><a href="hold.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Festive Decoratives </a></li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-3 w3l">
                                            <a href="hold.html"><img src="~/Content/Image/me2.png" class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>

                            <li><a href="codes.html" class="hyper"> <span>Giảm Giá Đặc Biệt</span></a></li>
                            <li><a href="contact.html" class="hyper"><span>Liên Hệ</span></a></li>
                        </ul>
                    </div>
                </nav>
                <div class="cart">

                    <span class="fa fa-shopping-cart my-cart-icon"><span class="badge badge-notify my-cart-badge"></span></span>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
     @*@{Html.Action("SachBanChayPartial"); }*@
    @*@{Html.RenderAction("SachBanChayPartial", "SanPham");}*@
                    

    
        <!--footer-->
    @RenderBody()
    <div class="spec ">
        <h3>   </h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
        <div class="footer">
            <div class="container">
                <div class="col-md-3 footer-grid">
                    <h3>Giới Thiệu</h3>
                    <p>
                        Tất cả vì một gia sản sách to lớn, có sức sống dài lâu,
                        có ý nghĩa với nhiều thế hệ bạn đọc.
                        Bởi vì sách là thế giới.
                    </p>
                </div>
                <div class="col-md-3 footer-grid ">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="index.html">Trang Chủ</a></li>
                        <li><a href="kitchen.html">Danh Mục Sách</a></li>
                        <li><a href="care.html">ComBo Sách</a></li>
                        <li><a href="hold.html">Chương Trình Khuyến Mãi</a></li>
                        <li><a href="codes.html">Giảm Giá Đặc Biệt</a></li>
                        <li><a href="contact.html">Liên Hệ </a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid ">
                    <h3>Chăm Sóc Khách Hàng</h3>
                    <ul>
                        <li><a href="shipping.html">Giao Hàng</a></li>
                        <li><a href="terms.html">Quy Định Đổi Trả </a></li>
                        <li><a href="faqs.html">Giải Đáp Thắc Mắc</a></li>
                        <li><a href="contact.html">Liên Hệ</a></li>
                        <li><a href="offer.html">Hướng dẫn mua hàng Online</a></li>

                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h3>Tài Khoản Của Tôi</h3>
                    <ul>
                        <li><a href="login.html">Đăng Nhập</a></li>
                        <li><a href="register.html">Đăng Ký</a></li>
                        <li><a href="wishlist.html">Danh Sách Mơ Ước</a></li>

                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="footer-bottom">
                    <h2><a href="index.html"><b>T<br>H<br>E</b>Book Store<span>Bởi Vì Sách Là Cả Thế Giới</span></a></h2>
                    <p class="fo-para">Bản Quyền Văn Hóa Và Truyền Thông Công Ty BookStore</p>
                    <ul class="social-fo">
                        <li><a href="#" class=" face"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class=" twi"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class=" pin"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                        <li><a href="#" class=" dri"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                    <div class=" address">
                        <div class="col-md-4 fo-grid1">
                            <p><i class="fa fa-home" aria-hidden="true"></i>59 Trung Hòa, Cầu Giấy, Hà Nội</p>
                        </div>
                        <div class="col-md-4 fo-grid1">
                            <p><i class="fa fa-phone" aria-hidden="true"></i>+0438585858</p>
                        </div>
                        <div class="col-md-4 fo-grid1">
                            <p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>info@example1.com</a></p>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="copy-right">
                    <p> &copy; 2016 Book store. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
                </div>
            </div>
        </div>

</body>

</html>
