@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Thao Moc Shop</h1>
   
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Bán điện thoại và phụ kiện chính hãng chất lượng
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        

    </div>
</div>