
<!DOCTYPE html>
<html>
<head>
    <title>2017 ThaoMocShop MobileOnline</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!--jQuery(necessary for Bootstrap's JavaScript plugins)-->

    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <!--Custom-Theme-files-->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Luxury Watches Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--start-menu-->
    <script src="~/Content/js/simpleCart.min.js"> </script>
    <link href="~/Content/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="~/Content/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!--dropdown-->
    <script src="~/Content/js/jquery.easydropdown.js"></script>
</head>
<body>
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-6 top-header-left">


                    <h2 style="color:white "> Cún Thổ Cẩm</h2>
                </div>
                <div class="col-md-6 top-header-left">
                    <div class="cart box_1">
                        <a href="checkout.html">
                            <div class="total">
                                <span class="simpleCart_total"></span>
                            </div>
                            <img src="~/Content/images/cart-1.png" alt="" />
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--start-logo-->
    <div class="logo">
        <a href="index.html"><h1>Mobile Shop</h1></a>
    </div>
    <!--start-logo-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="header">
                <div class="col-md-9 header-left">
                    <div class="top-nav">
                        <ul class="memenu skyblue">
                            <li class="active"><a href="index.html">TRANG CHỦ</a></li>
                            <li class="grid">
                                <a href="#">Iphone</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Iphone Lock</h4>
                                            <ul>
                                                <li><a href="products.html">Iphone 7 Plus</a></li>
                                                <li><a href="products.html">Iphone 7</a></li>
                                                <li><a href="products.html">Iphone 6s</a></li>
                                                <li><a href="products.html">Iphone 6</a></li>
                                                <li><a href="products.html">Iphone 5|5C</a></li>
                                                <li><a href="products.html">Iphone 5S|SE</a></li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            <h4>Iphone World</h4>
                                            <ul>
                                                <li><a href="products.html">Iphone 7 Plus</a></li>
                                                <li><a href="products.html">Iphone 7</a></li>
                                                <li><a href="products.html">Iphone 6s</a></li>
                                                <li><a href="products.html">Iphone 6</a></li>
                                                <li><a href="products.html">Iphone 5|5C</a></li>
                                                <li><a href="products.html">Iphone 5S|SE</a></li>
                                            </ul>
                                        </div>
                                       
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="#">Điện Thoại</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <h4>Hãng Sản Xuất</h4>
                                            <ul>
                                                <li><a href="products.html">Samsung</a></li>
                                                <li><a href="products.html">Lenovo</a></li>
                                                <li><a href="products.html">Oppo</a></li>
                                                <li><a href="products.html">Xiaomi</a></li>
                                                <li><a href="products.html">LG</a></li>
                                                <li><a href="products.html">HTC</a></li>

                                            </ul>
                                        </div>
                                       
                                                <div class="col1 me-one">
                                                   
                                                        <h4>Giá</h4>
                                                        <ul>
                                                            <li><a href="products.html">Dưới 3 triệu</a></li>
                                                            <li><a href="products.html">3-5 triệu</a></li>
                                                            <li><a href="products.html">5-7 triệu</a></li>
                                                            <li><a href="products.html">7-10 triệu</a></li>
                                                            <li><a href="products.html">Trên 10 triệu</a></li>
                                                            <li><a href="products.html">Trả góp</a></li>
                                                        </ul>
                                                    </div>

                                                </div>
                                            </div>
</li>
                            <li class="grid">
                                <a href="#">Máy tính bảng</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                           
                                            <ul>
                                                <li><a href="products.html">Ipad Pro</a></li>
                                                <li><a href="products.html">IPad Mini 1</a></li>
                                                <li><a href="products.html">Ipad mini 3</a></li>
                                                <li><a href="products.html">Ipad mini 4</a></li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col1 me-one">
                                            
                                            <ul>
                                                <li><a href="products.html">Ipad 4</a></li>
                                                <li><a href="products.html">Ipad 3</a></li>
                                                <li><a href="products.html">Ipad 2</a></li>
                                                
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="grid">
                                <a href="typo.html">Phụ kiện</a>
                                <div class="mepanel">
                                    <div class="row">
                                        <div class="col1 me-one">
                                            <ul>
                                                <li><a href="products.html">Ốp Nhựa</a></li>
                                                <li><a href="products.html">Ốp Silicol</a></li>
                                                <li><a href="products.html">Đồng hồ thông minh</a></li>

                                                <li><a href="products.html">Tai nghe bluetooh</a></li>
                                                <li><a href="products.html">Tai Iphone</a></li>
                                                <li><a href="products.html">Tai beat</a></li>
                                                <li><a href="products.html">head phone</a></li>

                                            </ul>
                                        </div>
                                            </div>
                                        </div>
                            </li>
                            <li class="grid">
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 header-right">
                    <div class="search-bar">
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--bottom-header-->
    @Html.Action("SliderPartial","HomePage")
    <!--Slider-Starts-Here-->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
    // You can also use "$(window).load(function() {"
    $(function () {
        // Slideshow 4
        $("#slider4").responsiveSlides({
            auto: true,
            pager: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });

    });
    </script>
    <!--End-slider-script-->
    @*@{ Html.RenderAction("SliderPartial", "HomePage");}*@
    @Html.Action("AboutPartial", "HomePage")
    @RenderBody()
    <!--information-starts-->
    <div class="information">
        <div class="container">
            <div class="infor-top">
                <div class="col-md-3 infor-left">
                    <h3>Follow Us</h3>
                    <ul>
                        <li><a href="#"><span class="fb"></span><h6>Facebook</h6></a></li>
                        <li><a href="#"><span class="twit"></span><h6>Twitter</h6></a></li>
                        <li><a href="#"><span class="google"></span><h6>Google+</h6></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Information</h3>
                    <ul>
                        <li><a href="#"><p>Specials</p></a></li>
                        <li><a href="#"><p>New Products</p></a></li>
                        <li><a href="#"><p>Our Stores</p></a></li>
                        <li><a href="contact.html"><p>Contact Us</p></a></li>
                        <li><a href="#"><p>Top Sellers</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="account.html"><p>My Account</p></a></li>
                        <li><a href="#"><p>My Credit slips</p></a></li>
                      
                        <li><a href="#"><p>My Personal info</p></a></li>
                        <li><a href="#"><p>My Addresses</p></a></li>
                    </ul>
                </div>
                <div class="col-md-3 infor-left">
                    <h3>Store Information</h3>

                    <h5>+955 123 4567</h5>
                    <p><a href="mailto:thaophammta@gmail.com">contact:thaophammta@gmail.com</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--information-end-->
    <!--footer-starts-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-6 footer-left">
                    <form>
                        <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
                <div class="col-md-6 footer-right">
                    <p>© 2017 ThaoMocShop CongNgheWeb TinHoc13A  </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--footer-end-->
</body>
</html>